* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --border: 2px solid red;
  --border2: 2px solid blue;
}
body {
  min-height: 100vh;

  background: rgba(255, 192, 203);
  z-index: 500;
  background-attachment: fixed;
}
body {
  /* border: var(--border); */
  height: 100vh;
  max-height: 100vh;
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  overflow: hidden;
}
header {
  /* border: var(--border); */
  text-align: center;
  width: 50%;
  align-self: center;
  font-size: 40px;
  color: rgb(128, 74, 23);
  text-shadow: 2px 2px 5px rgba(124, 84, 99, 0.808);
  height: fit-content;
}
#container {
  /* border: var(--border); */
  display: flex;
  flex-direction: row;
  max-width: 95%;
  margin: 10px;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 20px;
  grid-column-end: auto;
  gap: 80px;
  scroll-behavior: smooth;
  overflow-y: auto;
}
::-webkit-scrollbar {
  background-color: pink;
  max-height: 30px;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(228, 84, 151, 0.596);
}
.s_note {
  width: 200px;
  background-color: rgb(248, 248, 248);
  padding: 10px;
  height: 220px;
  border: 1px rgb(104, 99, 99) solid;
  border-radius: 15px;
  resize: none;
  font-size: 25px;
  font-family: helvetica;
  color: rgb(53, 53, 49);
  box-shadow: 1px 1px 1px 0px rgba(235, 100, 123, 0.822) inset;
}
.addnote {
  width: 200px;
  height: 220px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 999;
  display: grid;
  place-content: center;
  font-size: 150px;
  order: 39;
}

.addnote:hover {
  background: rgba(85, 72, 72, 0.6);
  cursor: pointer;
}

.cont {
  /* border: var(--border2); */
  width: 200px;
  height: 220px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 999;
  display: grid;
  place-content: center;
  font-size: 150px;
  order: 40;
  box-sizing: border-box;
}

.cont:hover {
  background: rgba(85, 72, 72, 0.6);
  cursor: pointer;
}

.rmv {
  display: grid;
  place-content: center;
  font-size: 25px;
  font-weight: 2;
  font-family: cursive;
  height: 40px;
  width: 150px;
  color: red;
  border: 2px red solid;
  margin-top: 50px;
  box-shadow: 2px 6px 2px 0px black;
  border: 2px rgba(195, 41, 41, 0.5);
}

.rmv:hover {
  background: rgba(171, 74, 74, 0.6);
  cursor: pointer;
}

.single {
  box-shadow: 2px 6px 10px 2px black;
  display: grid;
  place-content: center;
  border: 2px rgba(157, 39, 39, 0.2) solid;
  height: 100px;
}

.single:hover {
  background: rgba(171, 74, 74, 0.6);
  cursor: pointer;
}
#anim_1 {
  width: 180px;
  height: 180px;
  position: absolute;
  box-shadow: 0px 20px 40px rgb(0, 0, 0);
  backdrop-filter: blur(4px);
  margin-top: 50px;
  top: 80px;
  left: 230px;

  border-radius: 50%;
  background-color: rgba(66, 97, 98, 0.4);
  z-index: 999;
  animation: updown 10s linear infinite alternate-reverse;
}

#anim_2 {
  width: 150px;
  height: 150px;
  position: absolute;
  box-shadow: 0px 20px 40px rgb(0, 0, 0);
  backdrop-filter: blur(4px);
  margin-top: 50px;
  margin-left: 640px;
  top: 80px;
  left: 240px;

  border-radius: 50%;
  background-color: rgba(66, 97, 98, 0.4);
  z-index: 999;
  animation: updown 10s linear infinite alternate-reverse;
}

#anim_3 {
  width: 70px;
  height: 70px;
  position: absolute;
  box-shadow: 0px 20px 40px rgb(0, 0, 0);
  backdrop-filter: blur(4px);
  margin-top: 50px;
  bottom: 130px;
  left: 730px;

  border-radius: 50%;
  background-color: rgba(66, 97, 98, 0.4);

  animation: updown 10s linear infinite alternate-reverse;
}
#anim_4 {
  width: 120px;
  height: 120px;
  position: absolute;
  box-shadow: 0px 20px 40px rgb(0, 0, 0);
  backdrop-filter: blur(4px);
  margin-top: 50px;
  bottom: 130px;
  left: 840px;

  border-radius: 50%;
  background-color: rgba(66, 97, 98, 0.4);
  animation: updown 10s linear infinite alternate-reverse;
}
#anim_5 {
  width: 60px;
  height: 60px;
  position: absolute;
  box-shadow: 0px 20px 40px rgb(0, 0, 0);
  backdrop-filter: blur(4px);
  margin-top: 50px;
  bottom: 130px;
  left: 940px;

  border-radius: 50%;
  background-color: rgba(66, 97, 98, 0.4);

  animation: updown 6s linear infinite alternate-reverse;
}

.all {
  font-size: 20px;
  height: 40px;
  width: 100px;
  color: pink;
  border: 2px red solid;
}
@media (max-width: 416px) {
  .cont {
    width: 150px;
    align-items: center;
    order: -2;
    height: 150px;
    row-gap: 20%;
    padding: 0px;
  }
  .single {
    height: 50px;
    width: 100%;
    /* border: var(--border2); */
    margin: 0px;
    font-size: 56px;
    font-weight: 600;
    align-self: center;
    padding: 0px;
  }
  .rmv {
    width: 100%;
    height: 56px;
    /* border: var(--border); */
    font-size: 25px;
    padding: 0px 3px;
    margin: 0px;
  }
  .addnote {
    order: -1;
    height: 150px;
    width: 150px;
    font-size: 70px;
  }
  header {
    font-size: 23px;
    font-weight: 600;
  }
  body {
    /* border: var(--border); */
  }
  #container {
    /* border: var(--border); */
    max-width: 100vw;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding: 0px;
    padding-top: 10px;
    margin-right: 0px;
    row-gap: 15px;
  }
  #anim_5 {
    animation: none;
    display: none;
  }
  #anim_4 {
    animation: none;
    display: none;
  }
  #anim_3 {
    animation: none;
    display: none;
  }
  #anim_2 {
    animation: none;
    display: none;
  }
  #anim_1 {
    animation: none;
    display: none;
  }
}
@keyframes updown {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(-50px);
  }
}
